/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/02/2019, 17:16:26
    Author     : Henrique K. Secchi
*/

.keyword{
    -fx-fill:cyan;
}

.letters{
    -fx-fill:darkorange;
}

.simbolo {
    -fx-fill:blueviolet;
}

.numeros{
    -fx-fill: white;
}

.char{
    -fx-fill: mediumspringgreen;
}

.string{
    -fx-fill:indianred;
}

.coment{
    -fx-fill: deeppink;
}

.resto{
    -fx-fill: white;
}

.code-area{
    -fx-background-color:#121118;
    
}

.caret {
    -fx-stroke: white;
}

.styled-text-area .label{
    -fx-background-color:#232229;
    
}
