/* 
    Created on : 14/02/2019, 22:43:35
    Author     : Henrique K. Secchi
*/

.menu-bar{
    -fx-background-color: #34333A;
    -fx-border-color:  #232229;
    -fx-border-width: 1
}

.menu-bar .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.context-menu
{
    -fx-background-color: #56555B;   
}

#paneButtons
{
    -fx-background-color: #34333A;
    
}

#panenew, #paneopen, #panesave, #panecompile
{
    -fx-background-radius:7px;
    -fx-background-color: #34333A;
}

#panePrincipal
{
    -fx-background-color: #34333A;
}               

.tab
{
    -fx-padding: 0 1.5em 0 0.3em;
    -fx-background-color: #121118;
}

.tab-label
{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.tab-header-background
{
    -fx-background-color: #45444B;
}

.tab:hover, .tab:selected
{
    -fx-background-color: #34333A;
    -fx-text-fill: white;
}

#textLexico, #textSintatico
{
    -fx-background-color: #232229;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 5;
}

#ancAnalyzes, #ancTabTokens
{
    -fx-background-color: #45444B;
}

#tabAnalyzes, #tabTokens
{
    -fx-background-color: #34333A;
}

#ancPrincipal
{
    -fx-background-color: #121118;
}