/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/02/2019, 17:16:26
    Author     : Henrique K. Secchi
*/

.keyword{
    -fx-fill:#3c6fc3;
    -fx-font-weight: bold;
}

.letters{
    -fx-fill:white;
    -fx-font-weight: bold;
}

.simbolo {
    -fx-fill:#25a255;
    -fx-font-weight: bold;
}

.numeros{
    -fx-fill: #afa3ff;
    -fx-font-weight: bold;
}

.char{
    -fx-fill: #ff992d;
    -fx-font-weight: bold;
}

.string{
    -fx-fill:#e55699;
    -fx-font-weight: bold;
}

.coment{
    -fx-fill: #d66bff;
    -fx-font-weight: bold;
}

.resto{
    -fx-fill: white;
    -fx-font-weight: bold;
}

.code-area{
    -fx-background-color:#121118;
}

.caret {
    -fx-stroke: white;
}

.styled-text-area .label{
    -fx-background-color:#232229;
    
}
